<?xml version="1.0"?>
<launch>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args=".31 0 0 0 1.57 0 laser_mount_link laser_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-.31 0 0 0 1.57 3.14 laser_mount_link laser_2 100" />

</launch>
